@import '../../vars';
.overlay {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(31, 39, 64, 0.9);
    &.showed {
        display: block;
    }
}
.infoModal {
    line-height: 2;
    // border: 2px solid $white;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 30;

    .modal {
        height: auto;
        width: auto;
        max-width: 600px;
        min-height: 300px;
        margin: auto;
        text-align: center;
        &:before {
            background: $light;
        }
    }
    p {
        padding: 40px;
        background: $main-color;
        color: $white;
    }
}
