@import '../../vars';
.homePage {
    padding: 0px 0px;
    .fixed {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        background-color: $main-color;
        width: 100%;
        padding: 20px 10px;
    }
    h1 {
        color: $white;
        text-align: center;
    }

    ul {
        margin: 100px auto;
        margin-top: 200px;
        position: relative;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-template-rows: auto;
        gap: 40px 40px;
        justify-items: center;
        li {
            list-style-type: none;
        }
    }
}

@media (max-width: 768px) {
    .homePage {
        .fixed {
            padding: 20px 10px;
        }
        h1 {
            font-size: 24px;
        }
        ul {
            width: 100%;
            grid-template-columns: auto;
            margin-top: 160px;
        }
    }
}
