@import '../../vars';
.homePage {
    padding: 50px 0px;
    h1 {
        color: $white;
        text-align: center;
    }
    .luckButton {
        position: relative;
        margin-top: 20px;
        color: $white;
        padding: 15px 50px;
        background: linear-gradient(
            315deg,
            #89ff00,
            #ff0057,
            #5d02ff,
            #00bcd4,
            #e64a19
        );
        animation: gradient 4s ease-in-out infinite;
        background-size: 400% 400%;

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
    }
    ul {
        margin: 0 auto;
        margin-top: 50px;
        position: relative;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, minmax(400px, 1fr));
        grid-template-rows: auto;
        gap: 40px 40px;
        justify-items: center;
        li {
            list-style-type: none;
        }
    }
}

@media (max-width: 768px) {
    .homePage {
        ul {
            display: flex;
            flex-direction: column;
        }
    }
}
