@import '../../vars';
.playPage {
    padding: 30px 200px;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .options {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $variants-gap;
        margin-bottom: 20px;
    }

    .buttons {
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
        width: $question-width;
    }
}

@media only screen and (max-width: 992px) {
    .playPage {
        .options {
            gap: $variants-gap-m;
            .option {
                width: $variant-width-m;
                height: $variant-height-m;
            }
        }
        .buttons {
            width: $question-width-m;
        }
    }
}

@media only screen and (max-width: 768px) {
    .playPage {
        padding: 30px 80px;
        .options {
            width: $variant-width-s;
            gap: $variants-gap-s;
            grid-template-columns: 1fr;
            .option {
                width: $variant-width-s;
                height: $variant-height-s;
            }
        }
        .buttons {
            width: $variant-width-s;
            justify-content: space-between;
            padding: 6px;
        }
    }
}

@media only screen and (max-width: 450px) {
    .playPage {
        padding: 30px 30px;
    }
}
