@import '../../vars';
button {
    border: none;
    background: none;
    cursor: pointer;
}
.card {
    position: relative;
    height: 300px;
    width: 400px;
    background: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid #000;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: rgba(255, 255, 255, 0.05);
        pointer-events: none;
    }
    &.skew {
        &::before {
            content: '';
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            background: $white;
            transform: skew(2deg, 2deg);
            z-index: -1;
        }
        &.glow:nth-child(n)::before {
            background: $happy;
        }
        &.glow:nth-child(3n)::before {
            background: $sunny;
        }
        &.glow:nth-child(even)::before {
            background: $light;
        }
        &.glow:nth-child(4n)::before {
            background: $hot;
        }
    }
    .content {
        position: relative;
        padding: 20px;
        transform: translateY(40px);
        text-align: center;
        h2 {
            position: absolute;
            top: -60px;
            right: 40px;
            margin: 0;
            padding: 0;
            font-size: 6em;
            color: rgba(255, 255, 255, 0.05);
            transition: 0.5s;
        }
        h3 {
            margin: 0 0 10px;
            padding: 0;
            font-size: 24px;
            font-weight: 500;
            color: $white;
        }
        p {
            margin: 0 auto;
            padding: 0;
            font-size: 14px;
            color: $white;
            opacity: 0.5;
            width: 80%;
            text-transform: lowercase;
        }
        button {
            margin: 20px 0 0;
            position: relative;
            padding: 10px 20px;
            text-decoration: none;
            border: 1px solid $white;
            display: inline-block;
            color: $white;
            transition: 0.5s;
            transform: translateY(-40px);
            opacity: 0;
            visibility: none;
        }
    }
}

@media (min-width: 992px) {
    .card {
        &:hover .content h2 {
            top: -90px;
        }
        &:hover .content button {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
        .content button:hover {
            background: $white;
            color: #000;
        }
    }
}

@media only screen and (max-width: 992px) {
    .card {
        height: 250px;
        align-items: center;
        .content {
            transform: translateY(20px);
            button {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
                padding: 10px 20px;
                margin-top: 40px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .card {
        .content {
            position: relative;
            width: 100%;
            padding: 10px;
            button {
                &:active {
                    background: $white;
                    color: #000;
                }
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .card {
        width: 300px;
        .content {
            button {
                padding: 10px 6px;
                border: none;
                margin: 40px 10px 0;
            }
        }
    }
}
