@import '../../vars';
button {
    border: none;
    background: none;
    cursor: pointer;
}
.card {
    position: relative;
    height: 300px;
    width: 400px;
    background: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid #000;
    cursor: pointer;
}

.card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.card.skew::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform: skew(2deg, 2deg);
    z-index: -1;
}
.card.skew.glow:nth-child(n)::before {
    background: linear-gradient(315deg, #ff0057, #e64a19);
}

.card.skew.glow:nth-child(even)::before {
    background: linear-gradient(315deg, #89ff00, #00bcd4);
}

.card.skew.glow:nth-child(2n + 1)::before {
    background: linear-gradient(315deg, #e91e63, #5d02ff);
}

.card.skew.glow:nth-child(4n + 4)::before {
    background: linear-gradient(315deg, #ff0000, #ffc107);
}

.card .content {
    position: relative;
    padding: 20px;
    transform: translateY(40px);
    text-align: center;
}

.card .content h2 {
    position: absolute;
    top: -60px;
    right: 40px;
    margin: 0;
    padding: 0;
    font-size: 6em;
    color: rgba(255, 255, 255, 0.05);
    transition: 0.5s;
}

.card .content h3 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.card .content p {
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    color: #fff;
    opacity: 0.5;
    width: 80%;
    text-transform: lowercase;
}

.card .content button {
    margin: 20px 0 0;
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: none;
}

@media (min-width: 992px) {
    .card:hover .content h2 {
        top: -90px;
    }
    .card:hover .content button {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .card .content button:hover {
        background: #fff;
        color: #000;
    }
}

/* =======================Responsive Breakpoint ========================== */

@media only screen and (max-width: 992px) {
    .card {
        height: 250px;
        align-items: center;
    }
    .card .content button {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        padding: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .card .content {
        position: relative;
        width: 100%;
        padding: 10px;
    }
    .card .content button {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .card .content button:active {
        background: #fff;
        color: #000;
    }
}

@media only screen and (max-width: 450px) {
    .card {
        width: 300px;
    }
    .card .content button {
        padding: 10px 6px;
        border: none;
    }
}
