@import '../../vars';
.finishPage {
    h2 {
        grid-area: c;
    }
    position: relative;
    padding: 50px 50px;
    color: $white;
    display: grid;
    grid-template-areas:
        'a b'
        'c c'
        'd d';
    // overflow: hidden;
    // height: 100vh;
    justify-content: center;
    justify-items: center;
    &.totalOnly {
        grid-template-areas:
            'b b'
            'c c'
            'd d';
    }

    .chartWrapper {
        grid-area: c;
    }

    .result,
    .total {
        margin-bottom: 20px;

        &.chartWrapper {
            display: flex;
            justify-content: center;
            color: $white;
            width: 900px;
            margin: 0 auto;
            rect {
                fill: $main-color;
            }
            text {
                fill: $white;
            }
            g {
                g {
                    path {
                        fill: $purple-color;
                    }
                }
            }
        }
    }
    .buttons {
        grid-area: d;
        color: $white;
        text-align: center;
        margin-top: 10px;
        display: flex;
        gap: 30px;
        // div {
        //     max-width: 150px;
        //     max-height: 40px;
        // }
    }
}
@media (max-width: 768px) {
    .finishPage {
        grid-template-areas:
            'a'
            'b'
            'c'
            'd';
        justify-items: start;
        .result {
            &.chartWrapper {
                width: 400px;
            }
        }
        .buttons {
            justify-self: center;
        }
    }
}
@media (max-width: 450px) {
    .finishPage {
        padding: 40px 10px;
        .result {
            &.chartWrapper {
                width: 300px;
            }
        }
    }
}
