$main-color: #131b36;

$white: #ffffff;
$disables: rgb(133, 133, 133);

$raspberry-color: #ff0057;
$dark-red-color: #e64a19;
$green-color: #89ff00;
$blue-color: #00bcd4;
$pink-color: #e91e63;
$purple-color: #5d02ff;
$red-color: #ff0057;
$orange-color: #ffc107;

$hot: linear-gradient(315deg, $raspberry-color, $dark-red-color);
$light: linear-gradient(315deg, $green-color, $blue-color);
$happy: linear-gradient(315deg, $purple-color, $pink-color);
$sunny: linear-gradient(315deg, $red-color, $orange-color);

$variant-width: 350px;
$variant-height: 60px;
$variants-gap: 60px;
$question-width: calc(#{$variant-width} * 2 + #{$variants-gap});
$question-height: fit-content;

$variant-width-m: 250px;
$variant-height-m: 50px;
$variants-gap-m: 40px;
$question-width-m: calc(#{$variant-width-m} * 2 + #{$variants-gap-m});
$question-height-m: fit-content;

$variant-width-s: 100%;
$variant-height-s: 50px;
$variants-gap-s: 20px;
$question-width-s: calc(#{$variant-width-m} * 2 + #{$variants-gap-m});
$question-height-s: fit-content;
