$text-color: #1f1f1d;

$main-color: #131b36;

$secondary-color: #f0ac71;

$white: #ffffff;
$disables: rgb(133, 133, 133);

$tile-background: linear-gradient(
    45deg,
    rgb(128, 148, 250, 1) 0%,
    rgba(87, 88, 187, 1) 100%
);
$main-shadow: 0 3px 9px rgb(68, 67, 67), inset 0 0 9px white;

$background-gradient: linear-gradient(
    45deg,
    rgba(3, 169, 244, 1) 0%,
    rgba(77, 182, 172, 1) 100%
);

$variant-width: 350px;
$variant-height: 60px;
$variants-gap: 60px;
$question-width: calc(#{$variant-width} * 2 + #{$variants-gap});
$question-height: fit-content;

@mixin frame {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // border: 4px solid transparent;
    // border-radius: 20px 0 20px 0;
    background: $tile-background;
    // background-clip: padding-box;
    padding: 10px;
    // box-shadow: $main-shadow;
    color: $white;
    font-weight: 600;

    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: $happy;
}

$raspberry-color: #ff0057;
$dark-red-color: #e64a19;
$green-color: #89ff00;
$blue-color: #00bcd4;
$pink-color: #e91e63;
$purple-color: #5d02ff;
$red-color: #ff0057;
$orange-color: #ffc107;

$hot: linear-gradient(315deg, $raspberry-color, $dark-red-color);
$light: linear-gradient(315deg, $green-color, $blue-color);
$happy: linear-gradient(315deg, $purple-color, $pink-color);
$sunny: linear-gradient(315deg, $red-color, $orange-color);

$variant-width-m: 250px;
$variant-height-m: 50px;
$variants-gap-m: 40px;
$question-width-m: calc(#{$variant-width-m} * 2 + #{$variants-gap-m});
$question-height-m: fit-content;

$variant-width-s: 100%;
$variant-height-s: 50px;
$variants-gap-s: 20px;
$question-width-s: calc(#{$variant-width-m} * 2 + #{$variants-gap-m});
$question-height-s: fit-content;
